body{
margin:0;
font-family:Arial;
background:#f1f5f9;
}

.layout{
display:flex;
}

/* MENU */
.sidebar{
width:220px;
background:#0f172a;
color:white;
height:100vh;
padding:20px;
}

.sidebar button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
background:#1e293b;
color:white;
border-radius:6px;
cursor:pointer;
}

.sidebar button:hover{
background:#334155;
}

/* CONTEUDO */
main{
flex:1;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:15px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.rota{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
}

.nota{
padding:8px;
margin:6px 0;
border-radius:6px;
display:flex;
justify-content:space-between;
}

/* DASHBOARD */

.cards{
display:flex;
gap:15px;
flex-wrap:wrap;
}

.cardDash{
background:white;
padding:20px;
border-radius:10px;
width:200px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
text-align:center;
}

.cardDash p{
font-size:28px;
font-weight:bold;
margin:0;
}

.verde{ background:#dcfce7; }
.amarelo{ background:#fef9c3; }
.vermelho{ background:#fecaca; }